importFrom("stats", "ecdf", "qchisq", "quantile", "runif")
             
export(confid.int.theta, dd.est, ell.theta, elltheta, grad.hessinv,H.Binv, ks.sporm, ks.stat, mrle.sporm, newton.theta, phi,plotor, test.theta, V.theta)
